.header {
	grid-column: 1 / 4;
	grid-row: 1;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 40px;
	
}


.buttons{
	display: flex;
	flex-direction: row;
	margin-left: auto;
	gap: 10px;
}
.header-link {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px; /* Adds space between the text and the arrow */
  }
body {
	margin: 0;
	display: grid;
	grid-template-columns: 250px 1fr 1fr;
	grid-template-rows: 10vw 50vw 30px;
	font-family: sans-serif;
}

ul{
	padding-left: 10px;  /* Reduce this number to move dots left */
	margin-left: 0;
}

li {
	list-style: none;
	margin: 10px 10px 10px 10px;
}
.prof {
	display: flex;
	justify-content: center;
	align-items: center;
}
nav {
	grid-row: 2 /3 ;
	grid-column: 1;
	background-color: white;
}

form{
	display: flex;
	flex-direction: row;
	padding:3px;
	width: 75%;
	margin-bottom: 15px;
}

.tiny {
	min-height: 50px;
	width:75%;
	line-height:3em;

	padding:3px;
	text-align: right;
	color:black;
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
  }

  .radiobuttonbox {
	display:flex;
	min-height: 50px;
	background-color:rgb(244, 236, 236);
	width: 100%;
	border-radius: 15px;
	border-color:rgb(244, 236, 236) ;
	text-align: left;
	margin-left: auto; 
	
  }


#fname {
	min-height: 30px;
	width:75%;
	line-height:3em;
	padding:3px;
	background-color:rgb(244, 236, 236);
	text-align: left;
	color:black;
	border-radius: 15px;
	border-color:rgb(244, 236, 236) ;
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
	align-items: right;
	justify-content: flex-end;
	margin-left: auto; 
}


.button {
	background-color: rgb(34, 86, 154);
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 0px;
  }

  .button5 {border-radius: 50%;}
  .button4 {border-radius: 25%;}

.block1 {
	grid-column: 2;
	grid-row: 2;
	background-color: tomato;
  line-height:3em;
  overflow:scroll;
  padding:5px;
  background-color:#FCFADD;
  color:black;
}

.small {
  height: 75vh;
  width: 90%;
  line-height:3em;
  overflow:scroll;
  padding:5px;
  background-color:white;
  border-radius: 15px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;

}
.login {
	margin-left: auto; /* pushes it to the right in a flex container */
	padding-right: 75px; 
	padding-bottom: 25px;
  }


  .tiny2 {
	min-height: 25px;
	width:75%;
	line-height:3em;
	overflow:scroll;
	padding:5px;
	background-color:rgb(244, 236, 236);
	color:black;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
  }

  .tinyinput {
	height: 75vh;
	width:98%;
	line-height:3em;
	overflow:scroll;
	background-color:white;
	color:black;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
}

.block2 {
	grid-column: 2/4;
	grid-row: 2;
	background-color: rgb(199, 186, 186);
	display: flex;
	flex-direction: column;
}

footer {
	grid-column: 1 / 4;
	grid-row: 3;
	background-color: white;
}




@media (max-width: 600px) {
	footer {
		background-color: royalblue;
	}
	body {
		grid-template-columns: 1fr;
		grid-template-rows: 2fr 1fr 1fr 1fr 1fr 30px;
	}
	nav {
		grid-row: 1;
		grid-column: 1;
	}
	.block1 {
		grid-row: 2;
		grid-column: 1;
	}
	.block2 {
		grid-row: 3;
		grid-column: 1;
	}
	.block3 {
		grid-row: 4;
		grid-column: 1;
	}
	.block4 {
		grid-row: 5;
		grid-column: 1;
	}
	footer {
		grid-row: 6;
		grid-column: 1;
	}
}
